<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="edit-container">
        <p><h3>Edit Your Chat: <%= chat._id %> </h3></p>
    <p>This chat was sent from <b><%= chat.from %></b> <b>to <%= chat.to %> </b></p>
    
    <form method="POST" action="/chats/ <%= chat._id %>?_method=PUT">
        <textarea name="msg" id="" rows="10" cols="50"><%= chat.msg %></textarea>
        <button>send</button>
    </form>
    </div>
</body>
</html>